#mu-page-breadcrumb.about-us{
    background-image: linear-gradient(to right, rgba(2, 19, 10, 1),rgba(0, 0, 0, 0.7)) , url("../img/CGHDS_PHOTO_GALLERY/IMG_4375.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mu-title h2{
    text-align: left;
}
#mu-course-content .container .about-us-image{
    width: 470px;
    margin-left: 40px;
    margin-bottom: 10px;
    float: right;
}
#mu-course-content .container .about-us-image img{
    width: 100%;
}
.mu-title:not(:first-child){
    margin-top: 15px;
}
#mu-course-content ol{
    margin-left: -25px;
}
#mu-course-content ol li{
    line-height: 30px;
    /* list-style: circle; */
}
#mu-course-content ol li::marker{
    color: #016632;
    font-weight: 600;
}
#mu-course-content ol li span{
    color: #016632;
    font-weight: 600;
}
.mu-our-lecturers-content{
    width: 100%;
}
.mu-our-lecturers-content .mu-ourlecturer-single-content h4{
    text-transform: capitalize;
    color: #003218;
    font-weight: 600;
    margin-bottom: 5px;
}
.mu-our-lecturers-content .mu-ourlecturer-single-content span{
    font-size: 14px;
}
.mu-our-lecturers-content .lecturers{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.mu-our-lecturers-content .lecturers .lecturer .mu-our-lecturer-img{
    width: 100%;

}
.mu-our-lecturers-content .lecturers .lecturer .mu-our-lecturer-img img{
    width: 100%;
}
#mu-course-content .table{
    margin-top: 20px;
}
#mu-course-content .table th{
    color: #003218;
}
.table > tbody > tr > th{
    width: 10px;
}

/* Medium screen */
@media screen and (max-width: 991px) {
    .mu-our-lecturers-content .lecturers{
        grid-template-columns: repeat(3, 1fr); 
    }
    #mu-course-content .container .about-us-image{
        margin-left: 15px;
    }
}

  /* Tablet screen */
@media screen and (max-width: 767px) {
    .mu-our-lecturers-content .lecturers{    
        grid-template-columns: repeat(2, 1fr); 
    }
    #mu-course-content ol{
        margin-left: 20px;
        padding: 0;
    }
    #mu-course-content .container .about-us-image{
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }

}

  /* Mobile screen */
@media screen and (max-width: 640px) {
    .mu-our-lecturers-content .lecturers{
        grid-template-columns: repeat(1, 1fr); /* Display 1 item per row on mobile screens */
    }
    #mu-page-breadcrumb.about-us{
        background-image: linear-gradient(to right, rgba(2, 19, 10, 1),rgba(0, 0, 0, 0.7)) , url("../img/CGHDS_PHOTO_GALLERY/IMG_4375.JPG");
    }
}